*.env
changePermissions.sh
bookmark_bot_working.session
bookmark_bot.session
bookmarks.db
bot_test.py
bot_traditional.py
bot_traditional2.py
check_server.sh
function.zip
homepage.html
oci_function.py
privato.txt
server.err
*.db
*.key
*.log
*.pem
*.session
*.session-journal
*.bak
*.pyc
.vscode/
__pycache__/